body{
    padding: 100px;
}

.submit-area{
    display: block;
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(86, 76, 76);
}

#transaction-area{
    display: none;
}

.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.Deposit{
    background-color: slateblue;
}

.Withdraw{
    background-color: lightcoral;
}

.Balance{
    background-color: orange;
}